.wrapper{
    width: 570px;
    /* background: rgb(245, 245, 245); */
    color:rgb(111, 111, 111);
    margin: 0 auto;
    /* box-shadow: -1px 2px 9px -3px rgba(0,0,0,0.45); */
    border-radius: 10px;
}
.formTitle{
    color: "#2f2f2f";
    text-align: center;
    margin: 0;
    margin-top: 40px;
}
.formWrapper{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    padding: 60px 0;
}
.formWrapper input{
    margin-bottom: 10px;
}
.btn{
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    height: 30px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    border:1px solid rgb(173, 173, 173);
    transition: .1s ease;
}
.btn:hover{
    background: rgba(194, 194, 194,0.7);
}
.input{
    height: 30px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
    font-size: 18px;
    padding: 0 5px;
    transition: .3s ease;
}
.input:focus{
    background: rgb(245, 245, 245);
}
@media screen and (max-width:1200px) {
    .wrapper{
        width: 38%;
    }
}