.wrapper{
    margin: 0 auto;
    margin-top: 80px;
    width: 600px;
    margin-bottom: 100px;
}
.title{
    color:rgb(111, 111, 111);
    font-size: 29px;
    text-transform: uppercase;
    text-align: center;
}
.form{
    display: flex;
    justify-content: space-between;
}
.inputItems{
    color:rgb(111, 111, 111);
    width: 80%;
    height: 30px;
    font-size: 24px;
    outline: 0;
    border-radius: 5px;
    border: 0;
    padding: 2px 5px;
    background: rgb(245, 245, 245);
    border:1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    
}
.inputItems::placeholder{
    font-family: 'SF Pro',sans-serif;
}
.addItemBtn{
    cursor: pointer;
    width: 19%;
    margin-left: 15px;
    background-color: rgb(245, 245, 245);
    color:rgb(111, 111, 111);
    border:1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
.addItemBtn:hover{
    /* background: rgb(208, 207, 207); */
    border-bottom: 2px solid rgb(173, 173, 173);
}
.modalWrapper{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 998;
    background: rgba(3, 3, 3, 0.5);
}
.modalWindow{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    background: white;
    height: 25%;
    border: 1px solid rgb(136, 136, 136);
}
.closeModal{
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 0;
}
.inputModal{
    width: 80%;
    height: 33%;
    resize: none;
    border: 0;
    outline: 0;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(173, 173, 173);
    color:rgb(111, 111, 111);
    border-radius: 5px;
    margin: 15px 0 2px 0;
}
.saveBtn{
    margin-top: 5px;
    cursor: pointer;
    width: 40%;
    height: 15%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    border: 1px solid rgb(173, 173, 173);
    font-size: 9px;
}
.saveBtn:hover{
    border-bottom: 2px solid rgb(173, 173, 173);
}
@media screen and (max-width:625px) {
    .wrapper{
        padding: 0 20px;
    }
}