.wrapper{
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    background: rgb(245, 245, 245);
    border:1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 3px 10px 5px 6px;
    margin-top: 5px ;
}
.todoWrapper{
    position: relative;
    display: flex;
    align-items: center;
}
.todoItem{
    cursor: pointer;
    user-select: none;
    color:rgb(36, 36, 36);
    /* color:rgb(111, 111, 111); */
    font-size: 24px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 2px;
}
.checkbox{
    margin: 0 3px;
    display: block;
    min-width: 15px;
    min-height: 15px;
    background: black;;
}
.checkbox[type=checkbox] {
    accent-color: rgb(36, 36, 36);
  }
.completedTask{
    text-decoration: line-through;
    color:rgb(53, 53, 53);
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2px
}
.editBtn{
    width: 20px;
    height: 23px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
    margin-right: 10px;
    padding-right: 20px;
}
.delBtn{
    width: 20px;
    height: 23px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
}