.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrights{
    opacity: .7;
    font-size: 12px;
    text-transform: lowercase;
    margin-left: 2px;
}
.buttons{
    margin: 5px 5px 0 0;
}
.buttons button{
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    height: 25px;
    width: 80px;
    border:1px solid rgb(173, 173, 173);
}
.buttons button:hover{
    border-bottom: 2px solid rgb(173, 173, 173);
}
.logBtn{
    margin-right: 10px;
}
.link{
    color:#2f2f2f;
}