body {
  margin: 0;
  color:rgb(36, 36, 36);
  background-color: white;
  font-family: -apple-system, 'SF Pro',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection{
  color:white;
  background: gray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0;
  padding: 0;
}
.activeLink span{
  background:#6b8e6e;
  padding:3px 30px;
  color:white;
  border-radius: 0 5px 5px 0;
}