body {
  margin: 0;
  color:white;
  background-color: #2f2f2f;
  font-family: -apple-system, 'SF Pro',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection{
  color:white;
  background: gray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0;
  padding: 0;
}
.app-container{
  display: flex;
  justify-content: center;
}